
<div class="jumbotron text-center">
    <h2>Search Any Email Address</h2> 
    <p>Start here- Look at the owner's name, photos, and online profile. See what you find.</p> 
   
      <div class="input-group">
        <input type="search" class="form-control" [(ngModel)]="searchResult" size="50" placeholder="Email " required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger" style="background-color: tan" (click)="search(searchResult)">Go !</button>
        </div>
      </div>
  </div>