.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px 35px;
  }
  
  .header p {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 12px; 
    border-radius: 4px;
  }
  .header-right {
    text-align: center;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}