<div class="header col">
  <p class="col-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra libero risus, in tincidunt
    mauris sodales sit amet. Nulla sapien ex, egestas vulputate mauris quis, ullamcorper hendrerit magna. Sed at enim ut
    orci tincidunt tincidunt ut nec ligula.. Nulla sapien ex, egestas vulputate mauris quis, ullamcorper hendrerit magna. Sed at enim ut
    orci tincidunt tincidunt ut nec ligula... Nulla sapien ex, egestas vulputate mauris quis, ullamcorper hendrerit magna. Sed at enim ut
    orci tincidunt tincidunt ut nec ligula... Nulla sapien ex, egestas vulputate mauris quis, ullamcorper hendrerit magna. Sed at enim ut
    orci tincidunt tincidunt ut nec ligula.. Nulla sapien ex, egestas vulputate mauris quis, ullamcorper hendrerit magna. Sed at enim ut
    orci tincidunt tincidunt ut nec ligula
  </p>
  <div class="header-right col-2 footer" style="text-align: center;">
    <a href="#home">Term </a><label>|</label>
    <a href="#contact">Privacy</a>
  </div>
</div>