.details {
    background-color: #eeeeee;
    color: blue;
    margin-left: 10%;
    width: 80%;
  }
  .footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
.body{
    background-color: #eeeeee;
}
.circle{
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: blue;
    color: yellow;
}