<mat-card>
    <div style="text-align: center;">
        <h1>{{first_name}}</h1>
        <h2>{{last_name}}</h2>
        <h1>{{address}}</h1>
        <h2>{{description}}</h2>
        <h3>{{email}}</h3> 
        </div>      
</mat-card>


